/* Mobile First */

:root {
  /* color variables */
  --df-main:#9a89bf;
  --df-lightpurple: #cdb5ff;
  --df-text: darkslategray;
  --df-text-light: lightslategray;
}

/*
RESET
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-y: hidden !important;
  /* margin: 0; */
  /* padding: .1em .75em; */
  background-color: rgb(236, 230, 236);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-size: 1rem; */
}
a, ul, ol, blockquote, h1, h2, h3, h4, header, footer, section {
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}

li::marker {
  content: "😍";
}

/*
PAGE FLEX WRAPPER
*/
.site-wrapper {
  /* display: flex;
  flex-direction: column; */
  min-height: fit-content;
  /* width: 100vw; */
  /* align-items: center; */
}

/*
NAV
*/
.nav {
  border-bottom: 1px solid lightgray;
}

.nav_my-story {
  flex: 1;
  width: 100%;
}

.nav_toggle {
  position: absolute;
  cursor: pointer;
  margin: 1rem 1rem auto 1rem;
  right: 0;
}

.nav_logo-weight {
  width: 4rem;
  margin-right: auto;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.nav_logo-text {
  font-size: 2.3rem;
  color: var(--df-main);
  position: absolute;
  height: auto;
  top: 3px;
  left: calc(50% - 64px);
}

.main-color {
  color: var(--df-main);
}

i.fa-bars {
  margin-top: 0.3rem;
  font-size: 1.3rem;
  color: var(--df-main);
}

i.fa-times {
  display: none;
  margin-top: 0.3rem;
  font-size: 1.3rem;
  color: var(--df-main);
}

.nav_menu {
  flex-direction: column;
  align-items: center;
  background-color: rgba(255,255,255,.75);
  /* background-color: black; */
}

.nav_menu-list {
  width: 100%;
  text-align: center;
  background-color: var(--df-main);
  /* text-align: center; */
}

.nav_menu li {
  width: 50%;
  display: none;
}

.li-0, .li-1, .li-2, .li-3, .li-4 {
  border-bottom: 1px solid rgba(255,255,255,.25);
}

.li-0, .li-1, .li-2, .li-3, .li-4, .li-5 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  margin-left: auto;
  margin-right: auto;
}

.nav_menu li a {
  color: whitesmoke;
  font-size: 1.5rem;
}

#nav_checkbox {
  display: none;
}
#nav_checkbox:checked ~ .nav_menu li {
  display: block;
}
#nav_checkbox:checked ~ .nav_toggle .fa-bars {
  display: none;
}
#nav_checkbox:checked ~ .nav_toggle .fa-times {
  display: block;
}
#nav_checkbox:checked ~ ul.nav_menu {
  display: flex;
}
#nav_checkbox:checked main.main-wrapper {
  opacity: 0.25;
}

/*
MAIN
*/

/* Home page */
.main-wrapper { /* flex wrapper */
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;
  width: 100%;
  opacity: 1;
  /* margin-top: 1rem; */
}

  .featured-container { /* flex container */
    display: flex;
    flex-direction: column;
    width: 100%;
  }
    .featured-1 {
      flex: 1 1 100%;
      padding: 25px 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(125, 125, 125, .1);
    }

    .featured-1 h3 {
      font-size: 1.75em;
      padding-bottom: 15px;
    }

    .featured-1 h4 {
      padding-bottom: 15px;
      font-size: 1.5em;
      /* font-style: italic; */
      color:rebeccapurple;
    }

    .blog {
      background-color: rgba(255, 255, 255, .5);
      background-image: url(assets/DesiFitLogo2019-01.png);
      background-size:15%;
      background-blend-mode:overlay;
      flex: 1 1 auto;
      font-size: 2.5em;
      font-style: italic;
      text-align: center;
      min-height: 5em;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
    }

    .date-line {
      font-size: .5em;
      font-style: normal;
      padding-top: 5px;
    }

    .featured-2 {
      flex: 1 1 100%;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
    }

      section > a {
        color:rebeccapurple;
        background-color:rgb(165, 165, 165);
        border-radius: 5px;
        border: 5px solid rgb(165, 165, 165);
        cursor: pointer;
      }

      section > a:hover {
        color:var(--df-main);
        background-color:ivory;
        border-radius: 5px;
        border: 5px solid ivory;
        cursor: pointer;
        transform: scale(1.25);
      }

      h3.clients {
        font-size: 2em;
        font-weight: bold;
        padding-top: 25px;
        margin-bottom: 15px;
        text-align: center;
      }
    
      .featured-2 img {
        width: 75%;
        border-left: 10px solid whitesmoke;
        border-right: 10px solid whitesmoke;
      }
    
      .img-1 {
        border-top: 10px solid whitesmoke;
        border-bottom: 5px solid whitesmoke;
      }
    
      .img-2 {
        border-top: 5px solid whitesmoke;
        border-bottom: 5px solid whitesmoke;
      }
    
      .img-3 {
        border-top: 5px solid whitesmoke;
        border-bottom: 10px solid whitesmoke;
      }

      .events {
        display: flex;
        width: 100%;
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: #fff;
      }

      a.event {
        display: flex;
        width: 100%;
        justify-self: center;
      }

      .events img {
        flex: 1 1 100%;
        border:0;
      }

  /* MY STORY page */
  .hero-video {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  div.hero-video video {
    flex: 1 1 100vw;
  }
  div.hero-story {
    flex: 1;
    font-size: 1rem;
    padding: 1.5rem;
    background-color: rgba(255,255,255,0.25);
  }
  p.hero-text {
    padding-bottom: 1rem;
  }
  div.beliefs {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
  }

  div.beliefs li {
    padding: 1rem;
  }

  /* BLOG page */
.blog-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-page-wrapper h2 {
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  color: whitesmoke;
  background-color:var(--df-main);
}

div.post-of-week {
  background-image: url(assets/blog_scrabble.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height:30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.post-of-week h3 {
  background-color: rgba(255, 255, 255, .75);
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 15px;
}

div.post-description {
  padding: 1rem 1rem 3rem 1rem;
  background-color:var(--df-main);
  color: whitesmoke;
}

.category {
  width: 100%;
  padding: 2rem;
  flex:1;
  text-align: center;
  color: rgba(0, 0, 0, .85);
}

.cat-0 {
  font-size: 1.25rem;
  font-weight: bold;
}

.cat-1, .cat-3, .cat-5 {
  background-color:rgba(255, 255, 255, .7);
}

.cat-2, .cat-4, .cat-6 {
  background-color: rgba(255, 255, 255, .25);
}

.cat-1:hover, .cat-2:hover, .cat-3:hover, .cat-4:hover, .cat-5:hover, .cat-6:hover {
  font-weight: bold;
}

.all-group, .recipes-group, .fitness-group, .nutrition-group, .motivation-group, .other-group {
  display: none;
  margin-top: 1rem;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.all_toggle, .recipes_toggle, .fitness_toggle, .nutrition_toggle, .motivation_toggle, .other_toggle {
  cursor: pointer;
}

.all_toggle:hover, .recipes_toggle:hover, .fitness_toggle:hover, .nutrition_toggle:hover, .other_toggle:hover {
  font-weight: bold;
}

#all_checkbox, #recipes_checkbox, #fitness_checkbox, #nutrition_checkbox, #motivation_checkbox, #other_checkbox {
  display: none;
}

#all_checkbox:checked ~ .all-group {
  display: flex;
}
#all_checkbox:checked main.main-wrapper {
  opacity: 0.25;
}

#recipes_checkbox:checked ~ .recipes-group {
  display: flex;
}
#recipes_checkbox:checked main.main-wrapper {
  opacity: 0.25;
}

#fitness_checkbox:checked ~ .fitness-group {
  display: flex;
}
#fitness_checkbox:checked main.main-wrapper {
  opacity: 0.25;
}

#nutrition_checkbox:checked ~ .nutrition-group {
  display: flex;
}
#nutrition_checkbox:checked main.main-wrapper {
  opacity: 0.25;
}

#motivation_checkbox:checked ~ .motivation-group {
  display: flex;
}
#motivation_checkbox:checked main.main-wrapper {
  opacity: 0.25;
}

#other_checkbox:checked ~ .other-group {
  display: flex;
}
#other_checkbox:checked main.main-wrapper {
  opacity: 0.25;
}


.all, .recipes, .fitness, .nutrition, .motivation, .other {
  background-image: url(assets/blog_scrabble.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
  filter:drop-shadow(50px);
  flex:1;
}

.all h2 {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
  padding: .25rem;
  color:whitesmoke;
}
.all p {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
  padding: 1rem;
  color:whitesmoke;
}

.recipes h2 {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
  padding: .25rem;
  color:whitesmoke;
}
.recipes p {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
  padding: 1rem;
  color:whitesmoke;
}

.fitness h2 {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
  padding: .25rem;
  color:whitesmoke;
}
.fitness p {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
  padding: 1rem;
  color:whitesmoke;
}

.nutrition h2 {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
  padding: .25rem;
  color:whitesmoke;
}
.nutrition p {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
  padding: 1rem;
  color:whitesmoke;
}

.motivation h2 {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
  padding: .25rem;
  color:whitesmoke;
}
.motivation p {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
  padding: 1rem;
  color:whitesmoke;
}

.other h2 {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
  padding: .25rem;
  color:whitesmoke;
}
.other p {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 1rem;
  padding: 1rem;
  color:whitesmoke;
}

/* COACHING page */
.coaching-page-wrapper {
  display: flex;
  flex-direction: column;
}

.coaching-page-wrapper img {
  align-self: center;
}

.coaching-hero-text {
text-align: left;
padding: 1.5rem;
font-size: 1rem;
margin-bottom: 2rem;
background-color:whitesmoke;
}

.carousel-1, .carousel-3, .carousel-5 {
  display: flex;
  height: fit-content;
  background-color: whitesmoke;
  filter:drop-shadow(8px 8px 10px rgba(25,25,25,.5));
  margin-bottom: 2rem;
}

.carousel-2, .carousel-4 {
  display: flex;
  height: fit-content;
  background-color: whitesmoke;
  filter:drop-shadow(8px 8px 10px rgba(25,25,25,.5));
  margin-bottom: 2rem;
}

.testimonial-img {
background-image: url("assets/df-testimonial-sample-img.jpeg");
background-repeat: no-repeat;
background-size:cover;
background-position: -85px -10px;
clip-path: circle(40%);
flex: 1;
}

.testimonial-text {
  flex: 1;
  padding: 2rem;
  /* color:var(--df-main); */
  color: var(--df-text);
}

.cta-text {
  padding:1.75rem;
  font-size: 1rem;
  /* border-top: 2px solid yellow; */
  background-color: rgba(0,0,0, .75);
  color: whitesmoke;
}

.cta-btn {
  background-color: yellow;
  margin-bottom: 3rem;
}

.cta-btn:hover {
  font-size: 1.15rem;
  font-weight: bold;
}


/* ARCHIVE page */
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
/* img.avatar {
  width: 40%;
  border-radius: 50%;
} */

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

/*
FOOTER
*/
footer {
  flex: 1 1 10%;
  color:var(--df-text);
  display: flex;
  flex-wrap: wrap;
  padding: 10px 5px 5px 5px;
  background-color:var(--df-lightpurple);
}
  blockquote.quote-footer {
    background-color:rgba(255,255,255,.5);
    border-radius: 5px;
    font-size: .9em;
    font-style: italic;
    flex: 1 1 100%;
    padding: 3px 10px;
  }

  .cta-footer {
    flex: 1 1 25%;
    display: flex;
    flex-wrap: wrap;
    padding-top: .9em;
  }
    .text-footer {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .cta-span {
        font-size: 1.1em;
        font-weight: bold;
      }

    .a-footer {
      flex: 1; 
      display: flex;
      justify-content: center;
      align-items: center;
    }
      .subscribe-footer {
      font-weight: bold;
      }

    .a-footer a {
      color:var(--df-text-light);
      background-color:yellow;
      border-radius: 5px;
      border: 5px solid yellow;
      cursor: pointer;
    }

    .a-footer a:hover {
      color:var(--df-main);
      background-color:ivory;
      border-radius: 5px;
      border: 5px solid ivory;
      cursor: pointer;
      transform: scale(1.25);
    }